 *{
     font-family: sans-serif, Arial, Helvetica;
     line-height: 3em;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 html{
    background-image: repeating-radial-gradient(slategray, black 10%, white 15%);
     font-size: 16px;

     margin-top: 2em;
 }

 header, 
 main,
 footer{
     margin: 0 auto;
     max-width: 800px;
 }

 header{
     padding: 1em 0;
 }

 nav{
     position: fixed;
     top: 0;
     right: 0;
     width: 100%;

     display: flex;
     flex-flow: row;
     justify-content: center;

 }


 nav a{
     padding: .5em 2em;
     text-decoration: none;
     color: lightcyan;
 }
 

 nav a:hover{
     background: black;
 }
 body{
     color: whitesmoke;
 }

header h1{
    font-size: 3em;
    
}
h1, h2, h3{
    color: cyan;
}

section{
    margin: 1em 0;

    padding-top: 3em;
    min-height: 20em;
}

section > p{
    margin: 1em 0;
}

section ul{
    padding: 1.5em;
}

#aboutDanielle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
   
    grid-column-gap: 2em;

}

#aboutDanielle article {
    background: lightgray;
    padding: 1em;
}

#aboutDanielle article img {
   width: 100%;
   border: 1px solid lightcyan;

}

footer{
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
}